footer(style="position: relative; width:100%;border-top:solid")
    .container
        .row
            br
            .col-md-6.text-center
                p
                    b &#169 2017 Mosaik Productivity. 
                    | All rights reserved.


            .col-md-6.text-center
                    ul.list-inline.quicklinks
                        li: a(href="/privacy-policy") Privacy Policy
                        li: a(href="/terms-and-conditions") Terms and Conditions
