<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" style="padding-top: 30px;padding-bottom: 30px">
    <form action="//eng-base.us12.list-manage.com/subscribe/post?u=4dfed238d73b7054a4a6298fc&amp;id=56d0cc9a2d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-group">
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="mce-FNAME">First Name </label>
                    <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
                </div>
                <div class="col-md-6">
                    <label for="mce-LNAME">Last Name </label>
                    <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
                </div>
            </div>

            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
            <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL">

            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>

            <!-- real people should not fill this in and expect good things - do not remove this or
            risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4dfed238d73b7054a4a6298fc_56d0cc9a2d" tabindex="-1" value=""></div>
            <br/>
            <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
            </div>
        </div>
    </form>
</div>
<!--End mc_embed_signup-->
