extends layout.pug

append head


block content

	.container
		.row
			.col-md-8
				h1(style="font-weight: 200") A little bit about us.
				br
				div(style="font-size:18px;text-align: justify;text-justify:inter-word;font-weight: 200")
					p At Eng-Base, we believe that engineering firms are more productive when they have the right software in place. But how do you know if a piece of software is right for you?

					p Engineering software must be measured by more than its engineering capabilities. It needs to have good support and training; it should be interoperable with your other tools and fit well within your workflow; and it must be user-friendly and reliable.

					p For most engineering firms, acquiring software is a major investment, and choosing the right product requires the right information.

					p Eng-Base is the source of this information. We are the only place where you can learn about a software's price, capabilities, support, training, interoperability, and much more, all on one page. And we are the only place where you can find reviews and ratings by other engineers who have used the software.

					p On Eng-Base, we've created a community that brings engineers who need software closer to the engineers who make it.

					p Join the community by posting reviews for software you use, or using Eng-Base to find your new software tool.

					p Best,

					p(style='margin-bottom:100px') The Eng-Base Team
