extends layout.pug

prepend head
	title Market Structural Engineering Software with Eng-Base
	meta(name="description", content="Eng-Base is an online software marketplace for structural engineers. We market your software so you don't have to.")


block content

	.container
		.row
			.col-md-6
				h1(style="font-weight: 200") List your software on Eng-Base.
				br
				div(style="font-size:18px;text-align: justify;text-justify:inter-word;font-weight: 200")
					p Interested in listing your software on Eng-Base? We would love to have you!

					br

					p First, we need to make sure your software fits into one of our structural engineering software categories. So give us a shout at <a href="mailto:info@eng-base.com"> info@eng-base.com</a> and we'll get back to you.

					br

					p A simple and informative software profile is free for any or all of your software applications. We also have premium profiles with extra goodies and a link to your website, for which we charge. It's a great investment if you want to point engineers who are looking for software to your website.

					br

					p(style='margin-bottom:30vw') The Eng-Base Team
