mixin HollywoodListTitle(category)

	.row
		.col-md-12.text-center
			h1 Best #{category} #{moment().format('YYYY')}
			hr
			h3(style="color:grey") Use Eng-Base to find structural design software for your firm. <a href="/all-categories">See software categories.</a>
