mixin ListTitle(category)

	.text-center
		h1(style="text-transform:capitalize;") Best Structural Design Software 2017

		.row
			.col-md-6.col-md-offset-3
				.panel.panel-success.center-block(style="border:2px solid green;margin-bottom:-5px")
					.panel-body(style="font-size:18px")
						|<span style="color:lightGrey">Category:</span>
						|<b>#{_.capitalize(category)}</b>
		hr

		h3(style="color:grey") Use Eng-Base to find structural design software for your firm. <a href="/all-categories">See software categories.</a>
