mixin PromotedSoftwarePanel

	.panel.panel-primary(style="margin-bottom:0px")
		.panel-heading
			h2.panel-title More awesome apps for structural engineers:
		.list-group
			a.list-group-item(href="/skyciv-structural-3d"): b SkyCiv
			a.list-group-item(href="/s-concrete"): b S-CONCRETE
			a.list-group-item(href="asdip-steel"): b ASDIP Steel
